doctype html
html
    head
        title Where's My Dog
        script(src="js/jquery-2.1.1.min.js") 
        script(src="js/highcharts.js")
        script(src="/socket.io/socket.io.js")
        script(src="js/app.js") 
    body
        block content